ion-header,
ion-list-header {
  font-family: 'Raleway', sans-serif;
}

ion-item {
  border-radius: 10px;
  --background: #ffffff;
  --ion-item-ios-background: #ffffff;
  --ion-item-md-background: #ffffff;
}

ion-thumbnail {
  --border-radius: 8px;
}

ion-header {
  ion-toolbar {
      --background: #2e7d32; 
      color: #ffffff; 

      ion-title {
          font-size: 1.4em;
          font-weight: bold;
      }

      ion-img {
          height: 70px; 
          width: 70px;  
          padding-left: 20px;
      }
  }
}

ion-card {
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; /* Center text within the card */

  ion-card-header {
    ion-card-title {
      font-size: 1.5rem; /* larger font size for card titles */
      text-align: center; /* center-aligned card titles */
    }
  }
  ion-card-content {
    font-size: 1.2rem; /* larger font size for card content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}