<ion-header>
  <ion-toolbar>
    <ion-img slot="start" src="assets/images/logo.png" alt="Sustainability Logo"></ion-img>
    <ion-title>
      Sustainability
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding home-content">
  <div class="hero-section">
    <img src="assets/images/logo.png" alt="Logo" class="logo-large" />
    <h1>Welcome to Sustainability</h1>
    <p class="intro-text">
      Engage in challenges to grow and contribute to the community's well-being. Explore, learn, and contribute to the world with your sustainable actions.
    </p>
  </div>
  <div class="action-buttons">
    <ion-button expand="block" class="login-button" (click)="navigateToLogin()">Login</ion-button>
    <ion-button expand="block" color="danger" class="signup-button" (click)="navigateToSignup()">Sign Up</ion-button>
  </div>
</ion-content>
