.profile-card {
    img {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }
  
  ion-button {
    margin: 10px;
  }
  
  ion-header {
    ion-toolbar {
        --background: #2e7d32; 
        color: #ffffff; 
  
        ion-title {
            font-size: 1em;
            font-weight: bold;
        }
  
        ion-img {
            height: 70px; 
            width: 70px;  
            padding-left: 20px;
        }
    }
  }